<div class="uk-card uk-card-secondary uk-card-body">

<h3 class="uk-card-title">Are you a visiting pilot who would like to fly withing Tromsø CTR?</h3>

<p>
Tromsø CTR is the blue box on the map.
</p>

<p>
We ask you to <b>fly with a local pilot</b> or at least <b>have a conversation
with a local pilot</b> to make sure we all use the airspaces correctly since
this is an arrangement between the authorities and the THPK club.
</p>

<p>
We ask you to not contact the Tromsø tower without contacting the club first.
</p>

</div>
