<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <link rel="shortcut icon" href="{{ get_url(path="img/favicon.ico") }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/css/uikit.min.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="{{ get_url(path="js/leaflet.rotatedMarker.js") }}"></script>
    <script src="{{ get_url(path="js/L.TileLayer.Kartverket.js") }}"></script>

    <link href="{{ get_url(path="style.css") }}" rel="stylesheet">
    <link href="{{ get_url(path="fonts.css") }}" rel="stylesheet">
  </head>

  <body>
    <div class="uk-container uk-margin-large-bottom">

      <div class="uk-margin-bottom">
        {% include "navigation.html" %}
      </div>

      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
      {% if section.title %}
        <h1>{{ section.title }}</h1>
      {% endif %}

      <div class="markdown">
        {% block content %}
        {% endblock content %}
      </div>

      <div class="uk-margin-large-top">
        <hr>
        {% include "footer.html" %}
      </div>

    </div>
  </body>
</html>
